body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

.first-section{
    background-color: #1F2937;
    color: white;
    padding: 0px 180px;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header-links a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo h3{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    gap: 18px;
}