*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.first-section{
    background-color: #1F2937;
    color: white;
    padding: 0px 180px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 560px;
}

.hero-section p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.hero-section h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.header-links{
    display: flex;
    gap: 18px;
}

.first-section-content{
    display: flex;
    align-items: center;
    gap: 300px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    width: 360px;
}

.hero-section button{
    width: 90px;
    padding: 6px 14px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.first-section-image img{
    height: 292.8px;
    width: auto;
    border-radius: 50px;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    height: 650px;
}

.second-section-header h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 50px;
}

.prestigious-members-information{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.member-1, .member-2, .member-3, .member-4{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 250px;
    gap: 10px;
    
}

.member-1-information, .member-2-information, .member-3-information, .member-4-information{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.prestigious-members-information img{
    width: 250px;
    height: 310px;
    border-radius: 15px;
    object-fit: cover;
}